### **Loading the data**

In [8]:
import pandas as pd

df = pd.read_csv('DataSet/walmart_weekly_sales.csv')

### **Basic Data Inspection**

In [19]:
#rows and columns
#df.shape

#data types
#df.dtypes

# to see the column names
#df.columns.values

df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,2/5/2010,1643690.90,0,42.31,2.572,211.096358,8.106,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106,NaN,NaN,NaN,NaN,NaN,State
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,NaN,NaN,NaN,NaN,NaN,1 Account length
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,NaN,NaN,NaN,NaN,NaN,2 Area code
4,1,3/5/2010,1554806.68,0,46.50,2.625,211.350143,8.106,NaN,NaN,NaN,NaN,NaN,3 International plan

### **Data Cleaning**

To clean the data we started by dropping all the unnammed columns

In [21]:
#df.drop(columns=[''])

df = df.iloc[:,~df.columns.str.contains('^Unnamed')]

df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2/5/2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,3/5/2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [23]:
#check if there are any missing datas

df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

**1**. **Higest Sell Per week(Store number)**

In [27]:
max_sales = df.loc[df['Weekly_Sales'].idxmax()]

store_with_maximum_sales = max_sales['Store']

store_with_maximum_sales

14

In [30]:
# Check if it was a holiday week

was_holiday = max_sales['Holiday_Flag'] == 1

was_holiday

False

In [35]:
# which month was this week ?
date_of_max_sales = pd.to_datetime(max_sales['Date'])
month_of_max_sales = date_of_max_sales.strftime('%B')

month_of_max_sales

'December'

In [41]:
# Get the sales amount for that week
sales_amount = max_sales['Weekly_Sales']
print(f"The sales amount for that week was ${sales_amount}")

The sales amount for that week was $3818686.45

**2**.**If weekly sales increase by 7%, what would their new sales be?**
(engineer a new column with an appropriate name)

In [42]:
df['Weekly_Sales_Increased'] = df['Weekly_Sales'] * 1.07

# Display the updated DataFrame
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Weekly_Sales_Increased
0,1,2/5/2010,1643690.90,0,42.31,2.572,211.096358,8.106,1.758749e+06
1,1,2/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106,1.756894e+06
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,1.724806e+06
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,1.508409e+06
4,1,3/5/2010,1554806.68,0,46.50,2.625,211.350143,8.106,1.663643e+06

**3**

In [43]:
# Calculate costs as new columns
df['Labour_Cost'] = df['Weekly_Sales'] * 0.286
df['Product_Cost'] = df['Weekly_Sales'] * 0.39
df['Maintenance_Cost'] = df['Weekly_Sales'] * 0.124

# Calculate profit as a new column
df['Profit'] = df['Weekly_Sales'] - (df['Labour_Cost'] + df['Product_Cost'] + df['Maintenance_Cost'])

# Display the updated DataFrame
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Weekly_Sales_Increased,Labour_Cost,Product_Cost,Maintenance_Cost,Profit
0,1,2/5/2010,1643690.90,0,42.31,2.572,211.096358,8.106,1.758749e+06,470095.59740,641039.4510,203817.67160,328738.180
1,1,2/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106,1.756894e+06,469599.82784,640363.4016,203602.72256,328391.488
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,1.724806e+06,461022.89662,628667.5863,199884.05308,322393.634
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,1.508409e+06,403182.09074,549793.7601,174806.22116,281945.518
4,1,3/5/2010,1554806.68,0,46.50,2.625,211.350143,8.106,1.663643e+06,444674.71048,606374.6052,192796.02832,310961.336

In [49]:
# Convert temperatures from Fahrenheit to Celsius and add a new column
df['Temperature_Celsius'] = (df['Temperature'] - 32) * 5.0/9.0

df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Weekly_Sales_Increased,Labour_Cost,Product_Cost,Maintenance_Cost,Profit,Temperature_Celsius
0,1,2/5/2010,1643690.90,0,42.31,2.572,211.096358,8.106,1.758749e+06,470095.59740,641039.4510,203817.67160,328738.180,5.727778
1,1,2/12/2010,1641957.44,1,38.51,2.548,211.242170,8.106,1.756894e+06,469599.82784,640363.4016,203602.72256,328391.488,3.616667
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,1.724806e+06,461022.89662,628667.5863,199884.05308,322393.634,4.405556
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,1.508409e+06,403182.09074,549793.7601,174806.22116,281945.518,8.127778
4,1,3/5/2010,1554806.68,0,46.50,2.625,211.350143,8.106,1.663643e+06,444674.71048,606374.6052,192796.02832,310961.336,8.055556

In [59]:
# Find the store with the lowest temperature
coldest_store = df.loc[df['Temperature_Celsius'].idxmin()]
coldest_store_info = (coldest_store['Store'], coldest_store['Date'], coldest_store['Temperature_Celsius'])

# Find the store with the highest temperature
hottest_store = df.loc[df['Temperature_Celsius'].idxmax()]
hottest_store_info = (hottest_store['Store'], hottest_store['Date'], hottest_store['Temperature_Celsius'])

# Compare the weekly sales of these stores on those days
coldest_store_sales = coldest_store['Weekly_Sales']
hottest_store_sales = hottest_store['Weekly_Sales']


# Print the results
print(f"Store with the coldest day: Store {coldest_store_info[0]} on {coldest_store_info[1]} with a temperature of {coldest_store_info[2]:.2f}C and weekly sales of ${coldest_store_sales:.2f}")
print(f"Store with the hottest day: Store {hottest_store_info[0]} on {hottest_store_info[1]} with a temperature of {hottest_store_info[2]:.2f}C and weekly sales of ${hottest_store_sales:.2f}")

Store with the coldest day: Store 7 on 2/4/2011 with a temperature of -18.92C and weekly sales of $558027.77
Store with the hottest day: Store 33 on 7/16/2010 with a temperature of 37.86C and weekly sales of $280937.84

In [60]:
# Analyze the impact of weather on sales
average_sales = df['Weekly_Sales'].mean()
coldest_store_effect = (coldest_store_sales - average_sales) / average_sales * 100
hottest_store_effect = (hottest_store_sales - average_sales) / average_sales * 100

print(f"Average weekly sales across all stores: ${average_sales:.2f}")
print(f"Sales on the coldest day were {coldest_store_effect:.2f}% {'higher' if coldest_store_effect > 0 else 'lower'} than the average.")
print(f"Sales on the hottest day were {hottest_store_effect:.2f}% {'higher' if hottest_store_effect > 0 else 'lower'} than the average.")

Average weekly sales across all stores: $1046964.88
Sales on the coldest day were -46.70% lower than the average.
Sales on the hottest day were -73.17% lower than the average.

### **5. Which store had the highest sales week in 2012?**

In [61]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y')

In [62]:
# Filter data for the year 2012
df_2012 = df[df['Date'].dt.year == 2012]

# Find the row with the highest Weekly_Sales in 2012
highest_sales_week_2012 = df_2012.loc[df_2012['Weekly_Sales'].idxmax()]
highest_sales_store_2012 = highest_sales_week_2012['Store']
highest_sales_amount_2012 = highest_sales_week_2012['Weekly_Sales']
highest_sales_date_2012 = highest_sales_week_2012['Date']

print(f"Store {highest_sales_store_2012} had the highest sales week in 2012 with sales of ${highest_sales_amount_2012:.2f} on {highest_sales_date_2012.date()}.")

Store 20 had the highest sales week in 2012 with sales of $2565259.92 on 2012-04-06.

**6. Count the number of stores that made above $1,000,000 in weekly sales when fule price were about 3.50**

In [63]:
# Filter data where Fuel_Price is above $3.50
high_fuel_price_df = df[df['Fuel_Price'] > 3.50]

# Count unique stores with Weekly_Sales above $1,000,000
high_sales_stores_count = high_fuel_price_df[high_fuel_price_df['Weekly_Sales'] > 1000000]['Store'].nunique()

print(f"{high_sales_stores_count} stores made above $1,000,000 in weekly sales when fuel prices were above $3.50.")

27 stores made above $1,000,000 in weekly sales when fuel prices were above $3.50.

**7.Calculate total sales for each store during Christmas week in 2012**

In [64]:
# Define the Christmas week period for 2012
christmas_week_2012_start = pd.Timestamp('2012-12-23')
christmas_week_2012_end = pd.Timestamp('2012-12-29')

# Filter data for the Christmas week in 2012
christmas_week_df = df[(df['Date'] >= christmas_week_2012_start) & (df['Date'] <= christmas_week_2012_end)]

# Group by store and sum the weekly sales
christmas_sales = christmas_week_df.groupby('Store')['Weekly_Sales'].sum()

print("Total sales for each store during Christmas week in 2012:")
print(christmas_sales)

Total sales for each store during Christmas week in 2012:
Series([], Name: Weekly_Sales, dtype: float64)